In [ ]:
import Pkg;
Pkg.add("DataFrames")
Pkg.add("CSV")
Pkg.add("CategoricalArrays")
Pkg.add("Query")

 Resolving package versions...
  Updating `~/.julia/environments/v1.2/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.2/Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `~/.julia/environments/v1.2/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.2/Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `~/.julia/environments/v1.2/Project.toml`
 [no changes]
  Updating `~/.julia/environments/v1.2/Manifest.toml`
 [no changes]
 Resolving package versions...

In [3]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1242

In [4]:
df = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])

4×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │

In [13]:
df.A

4-element Array{Int64,1}:
 1
 2
 3
 4

In [14]:
size(df)

(4, 2)

In [20]:
df = DataFrame()

0×0 DataFrame

In [21]:
df.A = 1:8

1:8

In [22]:
df.A

8-element Array{Int64,1}:
 1
 2
 3
 4
 5
 6
 7
 8

In [24]:
df.B = ['a','b','c','b','a','b','c','b']

8-element Array{Char,1}:
 'a'
 'b'
 'c'
 'b'
 'a'
 'b'
 'c'
 'b'

In [25]:
df

8×2 DataFrame
│ Row │ A     │ B    │
│     │ Int64 │ Char │
├─────┼───────┼──────┤
│ 1   │ 1     │ 'a'  │
│ 2   │ 2     │ 'b'  │
│ 3   │ 3     │ 'c'  │
│ 4   │ 4     │ 'b'  │
│ 5   │ 5     │ 'a'  │
│ 6   │ 6     │ 'b'  │
│ 7   │ 7     │ 'c'  │
│ 8   │ 8     │ 'b'  │

In [26]:
df = DataFrame(A = Int[], B = String[])

0×2 DataFrame

In [31]:
push!(df,(1,"c"))

2×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ c      │
│ 2   │ 1     │ c      │

In [32]:
push!(df, [2, "N"])

3×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ c      │
│ 2   │ 1     │ c      │
│ 3   │ 2     │ N      │

In [33]:
typeof(1)

Int64

In [36]:
0xf

0x0f

In [37]:
0b11100

0x1c

In [40]:
2.3e-4

0.00023

In [41]:
bitstring('a')

"01100001000000000000000000000000"

In [42]:
0b01100001000000000000000000000000

0x61000000

In [45]:
char(0x61)

UndefVarError: UndefVarError: char not defined

In [57]:
2 |> print

2

In [63]:
hypot(5,12)

13.0

In [64]:
2 + 3im

2 + 3im

In [65]:
a = 2+3im

2 + 3im

In [73]:
texto = "asdlfalsjl23l24234lsdjflasjdçfljaç"

"asdlfalsjl23l24234lsdjflasjdçfljaç"

In [98]:
reg = r"([0-9].+)"

r"([0-9].+)"

In [99]:
typeof(reg)

Regex

In [100]:
m = match(reg,texto)

RegexMatch("23l24234lsdjflasjdçfljaç", 1="23l24234lsdjflasjdçfljaç")

In [101]:
m.captures

1-element Array{Union{Nothing, SubString{String}},1}:
 "23l24234lsdjflasjdçfljaç"

In [102]:
m.offsets

1-element Array{Int64,1}:
 11

In [104]:
function g(x,y)::Int64
    return x^y
end

g (generic function with 1 method)

In [107]:
typeof(g(2,3))

Int64

In [108]:
map(round, [1.2,3.5,1.7])

3-element Array{Float64,1}:
 1.0
 4.0
 2.0

In [110]:
map(round, [1.2,3.5,1.7])

3-element Array{Float64,1}:
 1.0
 4.0
 2.0

In [111]:
map(x->x*2,[1.2,3.5,1.7])

3-element Array{Float64,1}:
 2.4
 7.0
 3.4

In [114]:
import DataFrames

In [115]:
df = DataFrames.DataFrame(a=[1, 2, 3], b=[:a, :b, :c])

3×2 DataFrame
│ Row │ a     │ b      │
│     │ Int64 │ Symbol │
├─────┼───────┼────────┤
│ 1   │ 1     │ a      │
│ 2   │ 2     │ b      │
│ 3   │ 3     │ c      │

In [116]:
df = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])

4×2 DataFrame
│ Row │ A     │ B      │
│     │ Int64 │ String │
├─────┼───────┼────────┤
│ 1   │ 1     │ M      │
│ 2   │ 2     │ F      │
│ 3   │ 3     │ F      │
│ 4   │ 4     │ M      │

In [129]:
[1:5;] .|> [x->x^2, inv, x->2*x, -, +]

5-element Array{Real,1}:
  1
  0.5
  6
 -4
  5

In [140]:
df = DataFrame(A = 1:4, B = 4.0:-1.0:1.0)

4×2 DataFrame
│ Row │ A     │ B       │
│     │ Int64 │ Float64 │
├─────┼───────┼─────────┤
│ 1   │ 1     │ 4.0     │
│ 2   │ 2     │ 3.0     │
│ 3   │ 3     │ 2.0     │
│ 4   │ 4     │ 1.0     │

In [183]:
df.A = [1,2,3,4]

4-element Array{Int64,1}:
 1
 2
 3
 4

In [188]:
df .>= 4

4×2 DataFrame
│ Row │ A    │ B    │
│     │ Bool │ Bool │
├─────┼──────┼──────┤
│ 1   │ 0    │ 1    │
│ 2   │ 0    │ 0    │
│ 3   │ 0    │ 0    │
│ 4   │ 1    │ 0    │

In [194]:
df[df.A .> 1]

┌ Warning: `getindex(df::DataFrame, col_inds::Union{AbstractVector, Regex, Not})` is deprecated, use `df[:, col_inds]` instead.
│   caller = top-level scope at In[194]:1
└ @ Core In[194]:1

BoundsError: BoundsError: attempt to access DataFrames.Index(Dict(:A => 1,:B => 2), Symbol[:A, :B])
  at index [false, true, true, true]

In [214]:
df[1:3,2:2]

3×1 DataFrame
│ Row │ B       │
│     │ Float64 │
├─────┼─────────┤
│ 1   │ 4.0     │
│ 2   │ 3.0     │
│ 3   │ 2.0     │

In [219]:
first(df)

DataFrameRow
│ Row │ A     │ B       │
│     │ Int64 │ Float64 │
├─────┼───────┼─────────┤
│ 1   │ 1     │ 4.0     │

In [221]:
using CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1242

In [231]:
df = CSV.read("../../dados/iris.csv")

150×5 DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species   │
│     │ Float64      │ Float64     │ Float64      │ Float64     │ String    │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼───────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ setosa    │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ setosa    │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ setosa    │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ setosa    │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ setosa    │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ setosa    │
│ 7   │ 4.6          │ 3.4         │ 1.4          │ 0.3         │ setosa    │
│ 8   │ 5.0          │ 3.4         │ 1.5          │ 0.2         │ setosa    │
│ 9   │ 4.4          │ 2.9         │ 1.4          │ 0.2         │ setosa    │
│ 10  │ 4.9          │ 3.1         │ 1.5          │ 0.1         │ setosa    │
⋮
│ 140 │ 6.9          │ 3.1         │ 5.4          │ 2.1         │ virginica │
│ 141 │ 6.7          │ 3.1         │ 5.6          │ 2.4         │ virginica │
│ 142 │ 6.9          │ 3.1         │ 5.1          │ 2.3         │ virginica │
│ 143 │ 5.8          │ 2.7         │ 5.1          │ 1.9         │ virginica │
│ 144 │ 6.8          │ 3.2         │ 5.9          │ 2.3         │ virginica │
│ 145 │ 6.7          │ 3.3         │ 5.7          │ 2.5         │ virginica │
│ 146 │ 6.7          │ 3.0         │ 5.2          │ 2.3         │ virginica │
│ 147 │ 6.3          │ 2.5         │ 5.0          │ 1.9         │ virginica │
│ 148 │ 6.5          │ 3.0         │ 5.2          │ 2.0         │ virginica │
│ 149 │ 6.2          │ 3.4         │ 5.4          │ 2.3         │ virginica │
│ 150 │ 5.9          │ 3.0         │ 5.1          │ 1.8         │ virginica │

In [233]:
DataFrames.describe(df)

5×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable     │ mean    │ min    │ median │ max       │ nunique │
│     │ Symbol       │ Union…  │ Any    │ Union… │ Any       │ Union…  │
├─────┼──────────────┼─────────┼────────┼────────┼───────────┼─────────┤
│ 1   │ sepal_length │ 5.84333 │ 4.3    │ 5.8    │ 7.9       │         │
│ 2   │ sepal_width  │ 3.054   │ 2.0    │ 3.0    │ 4.4       │         │
│ 3   │ petal_length │ 3.75867 │ 1.0    │ 4.35   │ 6.9       │         │
│ 4   │ petal_width  │ 1.19867 │ 0.1    │ 1.3    │ 2.5       │         │
│ 5   │ species      │         │ setosa │        │ virginica │ 3       │

In [234]:
first(df)

DataFrameRow
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species │
│     │ Float64      │ Float64     │ Float64      │ Float64     │ String  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼─────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ setosa  │

In [235]:
last(df,3)

3×5 DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species   │
│     │ Float64      │ Float64     │ Float64      │ Float64     │ String    │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼───────────┤
│ 1   │ 6.5          │ 3.0         │ 5.2          │ 2.0         │ virginica │
│ 2   │ 6.2          │ 3.4         │ 5.4          │ 2.3         │ virginica │
│ 3   │ 5.9          │ 3.0         │ 5.1          │ 1.8         │ virginica │

In [239]:
using CategoricalArrays

In [240]:
categorical!(df,:species)

150×5 DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species      │
│     │ Float64      │ Float64     │ Float64      │ Float64     │ Categorical… │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ setosa       │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ setosa       │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ setosa       │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ setosa       │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ setosa       │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ setosa       │
│ 7   │ 4.6          │ 3.4         │ 1.4          │ 0.3         │ setosa       │
│ 8   │ 5.0          │ 3.4         │ 1.5          │ 0.2         │ setosa       │
│ 9   │ 4.4          │ 2.9         │ 1.4          │ 0.2         │ setosa       │
│ 10  │ 4.9          │ 3.1         │ 1.5          │ 0.1         │ setosa       │
⋮
│ 140 │ 6.9          │ 3.1         │ 5.4          │ 2.1         │ virginica    │
│ 141 │ 6.7          │ 3.1         │ 5.6          │ 2.4         │ virginica    │
│ 142 │ 6.9          │ 3.1         │ 5.1          │ 2.3         │ virginica    │
│ 143 │ 5.8          │ 2.7         │ 5.1          │ 1.9         │ virginica    │
│ 144 │ 6.8          │ 3.2         │ 5.9          │ 2.3         │ virginica    │
│ 145 │ 6.7          │ 3.3         │ 5.7          │ 2.5         │ virginica    │
│ 146 │ 6.7          │ 3.0         │ 5.2          │ 2.3         │ virginica    │
│ 147 │ 6.3          │ 2.5         │ 5.0          │ 1.9         │ virginica    │
│ 148 │ 6.5          │ 3.0         │ 5.2          │ 2.0         │ virginica    │
│ 149 │ 6.2          │ 3.4         │ 5.4          │ 2.3         │ virginica    │
│ 150 │ 5.9          │ 3.0         │ 5.1          │ 1.8         │ virginica    │

In [241]:
df

150×5 DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species      │
│     │ Float64      │ Float64     │ Float64      │ Float64     │ Categorical… │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ setosa       │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ setosa       │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ setosa       │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ setosa       │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ setosa       │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ setosa       │
│ 7   │ 4.6          │ 3.4         │ 1.4          │ 0.3         │ setosa       │
│ 8   │ 5.0          │ 3.4         │ 1.5          │ 0.2         │ setosa       │
│ 9   │ 4.4          │ 2.9         │ 1.4          │ 0.2         │ setosa       │
│ 10  │ 4.9          │ 3.1         │ 1.5          │ 0.1         │ setosa       │
⋮
│ 140 │ 6.9          │ 3.1         │ 5.4          │ 2.1         │ virginica    │
│ 141 │ 6.7          │ 3.1         │ 5.6          │ 2.4         │ virginica    │
│ 142 │ 6.9          │ 3.1         │ 5.1          │ 2.3         │ virginica    │
│ 143 │ 5.8          │ 2.7         │ 5.1          │ 1.9         │ virginica    │
│ 144 │ 6.8          │ 3.2         │ 5.9          │ 2.3         │ virginica    │
│ 145 │ 6.7          │ 3.3         │ 5.7          │ 2.5         │ virginica    │
│ 146 │ 6.7          │ 3.0         │ 5.2          │ 2.3         │ virginica    │
│ 147 │ 6.3          │ 2.5         │ 5.0          │ 1.9         │ virginica    │
│ 148 │ 6.5          │ 3.0         │ 5.2          │ 2.0         │ virginica    │
│ 149 │ 6.2          │ 3.4         │ 5.4          │ 2.3         │ virginica    │
│ 150 │ 5.9          │ 3.0         │ 5.1          │ 1.8         │ virginica    │