In [128]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression

In [118]:
Bkp = pd.read_csv('~/Downloads/Projeto_cientista-de-dados/Credito.csv',encoding="ISO-8859-1",sep=';')
Credito = Bkp

In [119]:
Credito.head()

,CHEQUEESPECIAL,USO_CREDITO,HISTORICO_CREDITO,PROPOSITO,BALANCO_ATUAL,BALANCO_MEDIO_CREDITO,EMPREGADO,LOCAL,ESTADOCIVIL,OUTRASFUNCOES,RESIDENCIADESDE,TIPOSBENS,IDADE,OUTROSPLANOSPGTO,RESIDENCIA,CREDITOSEXISTENTES,EMPREGO,DEPENDENTES,TRABAESTRANGEIRO,CLASSE
0,<0,6,crítica / outros de crédito existente,Computador/TV,1169,nenhuma economia conhecida,>=7,4,masculino solteiro,nenhum,4,bens imóveis,67,nenhum,própria,2,especializado,1,sim,bom
1,0<=X<200,48,existente e pago,Computador/TV,5951,<100,1<=X<4,2,fem div/cas,nenhum,2,bens imóveis,22,nenhum,própria,1,especializado,1,sim,ruim
2,sem cheque,12,crítica / outros de crédito existente,educação,2096,<100,4<=X<7,2,masculino solteiro,nenhum,3,bens imóveis,49,nenhum,própria,1,não especializado,2,sim,bom
3,<0,42,existente e pago,mobilia/equipamento,7882,<100,4<=X<7,2,masculino solteiro,fiador,4,seguro de vida,45,nenhum,gratuitamente,1,especializado,2,sim,bom
4,<0,24,atrasos anteriores,carro novo,4870,<100,1<=X<4,3,masculino solteiro,nenhum,4,nenhuma conhecida,53,nenhum,gratuitamente,2,especializado,2,sim,ruim

In [121]:
labels_dummys = ['CHEQUEESPECIAL','HISTORICO_CREDITO','PROPOSITO','BALANCO_MEDIO_CREDITO','EMPREGO','TRABAESTRANGEIRO','RESIDENCIA','OUTROSPLANOSPGTO','TIPOSBENS','OUTRASFUNCOES','ESTADOCIVIL','EMPREGADO','CLASSE']
labels_dummys

['CHEQUEESPECIAL',
 'HISTORICO_CREDITO',
 'PROPOSITO',
 'BALANCO_MEDIO_CREDITO',
 'EMPREGO',
 'TRABAESTRANGEIRO',
 'RESIDENCIA',
 'OUTROSPLANOSPGTO',
 'TIPOSBENS',
 'OUTRASFUNCOES',
 'ESTADOCIVIL',
 'EMPREGADO',
 'CLASSE']

In [122]:
def dummyficando(dataFrame,label):
    Dummy = dataFrame.loc[:,[label]].groupby(label).count()
    tamanho = len(Dummy)
    colunas = Dummy.index.values
    Dummy[1] = range(0,tamanho)
    enc = OneHotEncoder(categories='auto')
    enc.fit(Dummy)
    dummy_fic = enc.transform(Dummy).toarray()
    dummy_fic
    dum2 = pd.DataFrame(dummy_fic[:,1:],index=colunas.reshape(tamanho),columns=colunas[1:])    
    return dum2

dummyficando(Credito,'CHEQUEESPECIAL')

             <0  >=200  sem cheque
0<=X<200    0.0    0.0         0.0
<0          1.0    0.0         0.0
>=200       0.0    1.0         0.0
sem cheque  0.0    0.0         1.0

In [126]:
labels_dummys = ['CHEQUEESPECIAL','HISTORICO_CREDITO','PROPOSITO','BALANCO_MEDIO_CREDITO','EMPREGO','TRABAESTRANGEIRO','RESIDENCIA','OUTROSPLANOSPGTO','TIPOSBENS','OUTRASFUNCOES','ESTADOCIVIL','EMPREGADO','CLASSE']
for i in range(0,len(labels_dummys)):
    print(labels_dummys[i])
    Credito = Credito.join(dummyficando(Credito,labels_dummys[i]),on=labels_dummys[i],lsuffix='_',rsuffix='_-'+labels_dummys[i]+'-')
    Credito.drop(labels_dummys[i],inplace=True,axis=1)

CHEQUEESPECIAL
HISTORICO_CREDITO
PROPOSITO
BALANCO_MEDIO_CREDITO
EMPREGO
TRABAESTRANGEIRO
RESIDENCIA
OUTROSPLANOSPGTO
TIPOSBENS
OUTRASFUNCOES
ESTADOCIVIL
EMPREGADO
CLASSE

In [127]:
Credito.columns

Index(['USO_CREDITO', 'BALANCO_ATUAL', 'LOCAL', 'RESIDENCIADESDE', 'IDADE',
       'CREDITOSEXISTENTES', 'DEPENDENTES', '<0', '>=200', 'sem cheque',
       'crítica / outros de crédito existente', 'existente e pago',
       'sem créditos/todos pagos', 'todos pagos', 'Eletrodomésticos',
       'carro novo', 'carro usado', 'educação', 'mobilia/equipamento',
       'negócios', 'obras', 'outros', 'qualificação', '500<=X<1000', '<100',
       '>=1000', 'nenhuma economia conhecida', 'especializado',
       'não especializado', 'unemp/unespecializado non res', 'sim',
       'gratuitamente', 'própria', 'nenhum_', 'stores', 'carro',
       'nenhuma conhecida', 'seguro de vida', 'fiador',
       'nenhum_-OUTRASFUNCOES-', 'masculino casado/viuvo', 'masculino div/sep',
       'masculino solteiro', '4<=X<7', '<1', '>=7', 'desempregado', 'ruim'],
      dtype='object')

In [110]:
lm = LogisticRegression()

In [112]:
dummyficando(Credito,)

      ruim
bom    0.0
ruim   1.0

In [ ]:
lm.fit(Credito)